# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.AppleDouble
.LSOverride
.Trash-*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/**/tasks.xml
.idea/**/workspace.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries

# VSCode settings (ajusta según tu preferencia)
.vscode/

# FVM
.fvm/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/

# Firebase and Google services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build output
/android/.gradle/
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/

# macOS
*.xcuserstate

# Fastlane output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
